ul{
	background-color: yellowgreen;
	height: 70px;

}
li{

padding: 15px;
display: inline;
list-style-type: none;

	
}
.me{
	background-image: url("img/pic2.jpg");
	height: 600px;
}
.you{
	padding: 200px;
	font-size: 40px;
	padding-right: 100px;
	text-align: center;


}
p:hover {
  background-color: white;
  border-radius: 20px;

  height: fit-content;
}

li a{
	text-decoration: none;
}
	a:hover {
  background-color: white;
  height: fit-content;
}
.mine{
	background-color:yellowgreen ;
	height: 500px;
	margin: 0px;
	padding: 0px;
	border: 5px  gray solid;
	
	padding-left: 10px;
	padding-top: 10px;
	

}
.mine img{
	border-radius: 20px;
	box-shadow: 0px 0px 5px 0.5px gray
	

}
.mine p{
	font-size: 40px;
	border-radius: 10;
	color: blanchedalmond;
}
.mama{
background-color:yellowgreen ;
height: 600px;
border: 5px grey solid;
}
.mama p{
	font-size: 40px;
}
.mama img{
	margin-left: 15px;
	
}
footer{
	height: 300px;
	background-color:black;
	background-size:cover;
	color: white;
}